.offers{
      display: flex;
      gap: 20px;
      width: 75%;
      justify-content: center;
      margin-top: 40px;
      margin-left: 30px;
      /* padding: 80px 10px; */
      height: 40vh;
      padding:10px 140px;
      border-radius: 10px;
      background: linear-gradient(180deg,rgb(248, 208, 215),white);
}
.off{
      display: flex;
      justify-content: center;
      align-items: center;
}
.offers h2{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.offers p{
      font-size: medium;
}
.offers-left{
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 40px;
}
.offers button{
      height: 70px;
      width: 200px;
      background-color: red;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      color: aliceblue;
      font-size: 20px;

}

@media(max-width:1000px){
      .offers-left{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 0px;
      }
      .offers-left button{
            height: 50px;
      }
      .offers-left h2{
            font-size: 25px;
      }
      .offers-left p{
            font-size: 18px;
      }
}
@media(max-width:570px){
      .offers{
            padding: 40px 20px;
      }
      .offers-left h2{
            font-size: 15px;
      }
      .offers-left p{
            font-size: 15px;
      }
      .offers-left button{
            font-size: 14px;
            height: 30px;
      }
}